<div class="container">

  <div>
    <img src="assets/img/Deutsche_Bahn_AG-Logo.svg.png" />
    <div class="searchbox">
      <input type="text" class="searchbox__input" placeholder="Suche.." [(ngModel)]="searchTerm"
        (keyup.enter)="onEnter()" />
      <mat-icon class="searchIcon">search</mat-icon>
      <button mat-icon-button (click)="handleClear()" class="clearButton">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </div>
</div>

<div *ngIf="showBs">
  <mat-accordion *ngFor="let bs of betriebsstellen | filter:searchTerm">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{bs.code}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div>
        <mat-label>PLC: {{bs.plc}}</mat-label>
        <mat-label>Langname: {{bs.langname}}</mat-label>
        <mat-label>Kurzname: {{bs.kurzname}}</mat-label>
        <mat-label>Typ kurz: {{bs.typ_kurz}}</mat-label>
        <mat-label>Typ lang: {{bs.typ_lang}}</mat-label>
        <mat-label>Betriebszustand: {{bs.betriebszustand}}</mat-label>
        <mat-label>Datum ab: {{bs.datum_ab}}</mat-label>
        <mat-label>Datum bis: {{bs.datum_bis}}</mat-label>
        <mat-label>Niederlassung: {{bs.niederlassung}}</mat-label>
        <mat-label>Regionalbereich: {{bs.regionalbereich}}</mat-label>
        <mat-label>Letzte Änderung: {{bs.aenderung}}</mat-label>
      </div>

    </mat-expansion-panel>
  </mat-accordion>
</div>